@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --black-color: #231f20;
  --white-color: #f8fcff;
  --orange-color: #df8d13;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button,
a {
  transition: 0.3s;
}

button:hover,
a:hover,
button:active,
a:active {
  opacity: 0.7;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
  padding-top: 64px;
  padding-bottom: 64px;
  transition: 1s;
}

.container-white {
  background-color: var(--white-color);
  color: var(--black-color);
  overflow: hidden;
}

.container-black {
  background-color: var(--black-color);
  color: var(--white-color);
  overflow: hidden;
}

/* .text-white{
    color: var(--white-color);
}

.text-black{
    color: var(--black-color);
} */

.h2 {
  font-weight: 500;
  font-size: 33px;
  line-height: 123.6%;
  text-align: center;
}

.problem {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.problem__item {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  width: calc(100% / 3 - 20px);
  transition: 0.3s;
}

.problem__item:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.problem__img {
  margin-top: 50px;
}

.problem__img img {
  width: 64px;
}

.problem__title {
  font-size: 25px;
  margin-top: 20px;
}

.problem__content {
  font-size: 18px;
  margin-top: 20px;
}

#problem-block {
  /* background-image: url("/public/img/pngegg.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: left center; */
}

.about-us-block__row-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us-block-item-left * {
  text-align: left;
}

.about-us-block-item-left .problem__content {
  max-width: 500px;
}

#about-us-block {
  background: #e0e0e0;
}

.map {
  box-shadow: 0px 0px 10px var(--black-color);
}

.about-us-info {
  display: flex;
  justify-content: center;
  /* margin-top: 150px; */
  /* margin-bottom: 86px; */
  flex-wrap: wrap;
}

.about-us-info__item {
  width: calc(100% / 3 - 20px);
  text-align: center;
  border: 1px solid var(--black-color);
  padding: 40px;
}

.about-us-info__item:hover * {
  transform: scale(1.2);
  cursor: pointer;
}
.about-us-info__item * {
  transition: 0.3s;
}

.about-us-info__title {
  font-size: 40px;
  font-weight: 700;
}

.about-us-info__content {
  max-width: 80%;
  margin: 10px auto 0;
  font-size: 18px;
}
.about-us-info__item:nth-child(3),
.about-us-info__item:nth-child(2),
.about-us-info__item:nth-child(1) {
  border-top: unset;
}
.about-us-info__item:nth-child(4),
.about-us-info__item:nth-child(5),
.about-us-info__item:nth-child(6) {
  border-bottom: unset;
}
.about-us-info__item:nth-child(1),
.about-us-info__item:nth-child(4) {
  border-left: unset;
}
.about-us-info__item:nth-child(3),
.about-us-info__item:nth-child(6) {
  border-right: unset;
}

.animation-bottom-start {
  transform: translateY(200px);
  opacity: 0;
}

.animation-bottom-end {
  transform: translateY(0px);
  opacity: 1;
}

.swiper {
  margin-top: 40px;
  height: calc(100vh - 80px - 20vh);
}

.swiper-slide {
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.swiper-slide:nth-child(1) {
  background: radial-gradient(
      50% 50% at 50% 50%,
      #00000045 0,
      rgb(35 31 32 / 27%) 100%
    ),
    url("/public/img/background.jpeg");
}
.swiper-slide:nth-child(2) {
  background: radial-gradient(
      50% 50% at 50% 50%,
      #00000045 0,
      rgb(35 31 32 / 27%) 100%
    ),
    url("/public/img/photo_2023-04-07_22-42-21.jpg");
}
.swiper-slide:nth-child(3) {
  background: radial-gradient(
      50% 50% at 50% 50%,
      #00000045 0,
      rgb(35 31 32 / 27%) 100%
    ),
    url("/public/img/background.jpeg");
}

.swiper-slide img {
  height: 70vh;
}

.h1 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  /* height: 200px; */
}

footer {
  background: var(--black-color) !important;
  padding: 100px 0;
}

header button {
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: rgb(128 128 128 / 80%) !important;
  border: 2px solid var(--white-color);
  margin: 7px !important;
  transition: 0.3s;
}
.swiper-pagination-bullet:active {
  transform: scale(1.2);
}
.swiper-pagination-bullet:hover {
  opacity: 0.7;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--white-color) !important;
  margin: 0 25px;
  width: 44px !important;
  transition: 0.3s;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(128, 128, 128, 0.415);
  border-radius: 50%;
}
.swiper-button-next:active,
.swiper-button-prev:active {
  background-color: rgba(128, 128, 128);
}
.swiper-heading {
  font-family: "Noto Sans", sans-serif;
  color: white;
  max-width: 60%;
}
.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.sign-button {
  background: var(--black-color) !important;
  color: var(--white-color) !important;
  height: 56px;
  width: 50% !important;
  left: 50%;
  transform: translateX(-50%);
}
#sign-up .container{
  max-width: 1000px;
}
.sign-button-modal{
  width: 100% !important;
}