<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:insert="blocks/header::header"></header>
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" th:href="@{../static/css/header.css}">
    <link rel="stylesheet" th:href="@{../static/css/style.css}">
</head>
<body>
<body>
<div id="banner">
    <div class="grayScreen">
    </div>

</div>
<div id="words">
    <div id="slogan">
        СПОСОБСТВУЕМ ВАШЕЙ БЕЗОПАСНОСТИ
    </div>
</div>
<footer>

    <div id="copyright">
        <div id="name">
            © 2022, VideoPerimeter.com
        </div>
    </div>
</footer>


</body>
</body>
</html>